@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.products-list {
    border: none;
    width: auto;
    height: 250px;
    align-self: center;
    padding-top: 30px;
}

.img-speak {
    width: auto;
    height: 200px;
    background: url("https://source.unsplash.com/collection/9678416/h=250") no-repeat center center / cover;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
}

.text-wellcome {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar-light .navbar-brand{
    color: white !important;
}

.card-header {
    background-color: #ffd43b;
    color: #f03e3e;
}

.btn.btn-add, .btn.btn-remove, .btn.btn-pix {
    font-weight: bolder !important;
    font-size: 1rem !important;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
}

.btn.btn-add:active, .btn.btn-remove:active, .btn.btn-pix:active, .btn:active {
    background-color: #fff4e6;
    border: none;
    color: #f03e3e;
}

.btn.btn-add {
    background-color: #4dabf7;
}

.btn.btn-pix{
    background-color: #37b24d;
}

.btn {
    border: none;
}

.total {
    font-weight: bolder !important;
    font-size: 1rem !important;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #f03e3e !important;
    color: white;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.text-protected {
    -webkit-user-select: none;  
   -moz-user-select: none;     
   -ms-user-select: none;      
   user-select: none;  
 } 

 .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }